@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./font/Garnett-Light.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: 'MyFont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
